@model VidlyMVC.ViewModels.RandomMovieViewModel

@*
    This is testing commented line using razor    
*@

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.lstCustomers.Count > 0 ? "Popular" : null;
} 

<h2 class=@className>@Model.movieName.Name</h2>

<ul>
    @foreach (var customer in @Model.lstCustomers)
    {
        <li>@customer.Name</li>
        <li>@DateTime.Now</li>
    }
</ul>


