@model VidlyMVC.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
        </tr>
        @foreach (var customer in Model.lstCustomers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name,
                        "Details",
                        "Customers",
                        new {id = customer.Id},
                        null)</td>
            </tr>
        }
    </table>
    

</div>

